@import "tailwindcss";

@theme {
  --color-hunter-green: #386641;
  --color-sage-green: #6a994e;
  --color-yellow-green: #a7c957;
  --color-vanilla-cream: #f2e8cf;
  --color-blushed-brick: #bc4749;
}

